In [67]:
import re

In [2]:
# Find all patterns that match -> awesome or intelligent

text = "this is awesome. This is intelligent. This is not awesome. This is not intelligent"

re.findall("", text)

['awesome', 'intelligent', 'awesome', 'intelligent']

In [3]:
# Find all patterns that match -> Rafeh. or Rafeh

text = "Rafeh.* is amazing, Rafeh is great, Rafeh is awesome, Rafeh is cool Rafeh"

re.findall('', text) # first way
re.findall('', text) # Second way

['Rafeh.', 'Rafeh', 'Rafeh', 'Rafeh', 'Rafeh']

In [4]:
# Find all the patterns that match -> Rafeh.* +is amazing.+

text = "Rafeh.* +is amazing.+ Rafeh is great, Rafeh is awesome, Rafeh is cool Rafeh"

re.findall("", text)

['Rafeh.* +is amazing.+']

In [5]:
# Grab all the lists of food

text = """
food = ['f1', 'f1', 'f1']
food = ['f2', 'f2', 'f2']
sabzi = ['s1', 's1', 's1']
sabzi = ['s2', 's2', 's2']
"""

re.findall('', text)

["['f1', 'f1', 'f1']", "['f2', 'f2', 'f2']"]

In [6]:
# Grab everything except animal

text = """
food: ['f1', 'f1', 'f1']
drink: ['d1', 'd1', 'd1']
dessert: ['dess1', 'dess1', 'dess1']
fruit: ['fr1', 'fr2', 'fr3']
vegetable: ['v1', 'v2', 'v3']
number: [1, 2, 3]
color: ['red', 'blue', 'green']
animal: ['cat', 'dog', 'rabbit']
"""

re.findall('', text)

["['f1', 'f1', 'f1']",
 "['d1', 'd1', 'd1']",
 "['dess1', 'dess1', 'dess1']",
 "['fr1', 'fr2', 'fr3']",
 "['v1', 'v2', 'v3']",
 '[1, 2, 3]',
 "['red', 'blue', 'green']"]

In [7]:
# Extract all the urls from the string below
# Hint use \S which matches everything except whitespaces. 
# Whitespace includes (spaces, tabs, and new line character)

text = """
Here are some URLs in different formats:
- https://www.example.com
- http://subdomain.example.org/path/page.html
- ftp://ftp.example.net
Please extract all the above URLs
"""

re.findall('', text)

['https://www.example.com',
 'http://subdomain.example.org/path/page.html',
 'ftp://ftp.example.net']

In [8]:
# Extract all the dates from the string below

text = """
Here are some dates in different formats:
- 12/25/2022
- 2022-01-15
- 05/10/23
- 2023-09-06
"""

re.findall('', text)

['12/25/2022', '2022-01-15', '05/10/23', '2023-09-06']

In [9]:
# Extract all the users from the string below

data = """
User 1:
Name: John Doe
Email: john@example.com
Phone: 555-123-4567

User 2:
Name: Alice Smith
Email: alice.smith@email.org
Phone: (123) 456-7890

User 3:
Name: Bob Johnson
Email: bobj@example.co.uk
Phone: 444.555.6666

User 4:
Name: Carol Brown
Email: carol_brown@example.com
Phone: 111 222 3333

User 5:
Name: David Lee
Email: david@example.net
Phone: 777/888/9999
"""

pattern = ''
user_list = []
for match in re.finditer(pattern, data):
    user_list.append(match.groupdict())

user_list

[{'userid': '1',
  'name': 'John Doe',
  'email': 'john@example.com',
  'number': '555-123-4567'},
 {'userid': '2',
  'name': 'Alice Smith',
  'email': 'alice.smith@email.org',
  'number': '(123) 456-7890'},
 {'userid': '3',
  'name': 'Bob Johnson',
  'email': 'bobj@example.co.uk',
  'number': '444.555.6666'},
 {'userid': '4',
  'name': 'Carol Brown',
  'email': 'carol_brown@example.com',
  'number': '111 222 3333'},
 {'userid': '5',
  'name': 'David Lee',
  'email': 'david@example.net',
  'number': '777/888/9999'}]

In [10]:
# Extract all the Valid Serial Numbers
# Example AB-2023-XYZ1
# Product Code: AB
# Manifacturing Year: 2023 
# Product Unique Identifer: XYZ1


serial_numbers = [
    "AB-2023-XYZ1",
    "CD-2022-1234",
    "EF-2024-ABCD",
    "Invalid Serial",
    "GH-2025-5678",
    "IJ-2021-WXYZ",
    "KL-2026-9876",
]

valid_serial_numbers = []

pattern = ""

for serial in serial_numbers:
    match = re.match(pattern, serial)
    if match:
        product_code = match.group(1)
        manufacturing_year = match.group(2)
        unique_identifier = match.group(3)
        valid_serial_numbers.append({
            'Serial Number': serial,
            'Product Code': product_code,
            'Manufacturing Year': manufacturing_year,
            'Unique Identifier': unique_identifier,
        })

valid_serial_numbers

[{'Serial Number': 'AB-2023-XYZ1',
  'Product Code': 'AB',
  'Manufacturing Year': '2023',
  'Unique Identifier': 'XYZ1'},
 {'Serial Number': 'CD-2022-1234',
  'Product Code': 'CD',
  'Manufacturing Year': '2022',
  'Unique Identifier': '1234'},
 {'Serial Number': 'EF-2024-ABCD',
  'Product Code': 'EF',
  'Manufacturing Year': '2024',
  'Unique Identifier': 'ABCD'},
 {'Serial Number': 'GH-2025-5678',
  'Product Code': 'GH',
  'Manufacturing Year': '2025',
  'Unique Identifier': '5678'},
 {'Serial Number': 'IJ-2021-WXYZ',
  'Product Code': 'IJ',
  'Manufacturing Year': '2021',
  'Unique Identifier': 'WXYZ'},
 {'Serial Number': 'KL-2026-9876',
  'Product Code': 'KL',
  'Manufacturing Year': '2026',
  'Unique Identifier': '9876'}]

In [11]:
# Extract full timestamp and error message. [('2023-09-01 12:30:05'), ('Critical error occurred: File not found.')] but Just need for the errors

# Sample log file
log_data = """
[2023-09-01 12:15:00] [INFO] Application started.
[2023-09-01 12:30:05] [ERROR] Critical error occurred: File not found.
[2023-09-01 12:45:10] [INFO] User logged in.
[2023-09-01 13:00:15] [WARNING] Disk space low.
[2023-09-01 13:15:20] [ERROR] Database connection failed.
[2023-09-01 13:30:25] [INFO] Application shutdown.
"""

# Your regular expression pattern to match and extract ERROR log entries
pattern = ""

# Find and extract ERROR log entries
re.findall(pattern, log_data)

[('2023-09-01 12:30:05', 'Critical error occurred: File not found.'),
 ('2023-09-01 13:15:20', 'Database connection failed.')]

In [12]:
# bring out the list from the string
# Hint: use .

text = " asdasd [rafeh, ammar, moiz    , amna] asdas"

re.findall("", text)

['[rafeh, ammar, moiz    , amna]']

In [69]:
# bring out all the valid list from the string

text = " asdasd [valid list here] asdas] [this is a valid list]     [valid list here too]"

re.findall("", text)

['valid list here', 'this is a valid list', 'valid list here too']

In [14]:
# Bring out all the content inside all the lists except the list's square brackets

text = "[First Set] Some text [Second Set] [Third Set]"
re.findall("", text)

['First Set', 'Second Set', 'Third Set']

In [15]:
# extract every digit words except dots and white spaces

text = 'rafeh . atique . rafeh . atique . asd . 909asd0909 .2323'

re.findall("", text)

['rafeh', 'atique', 'rafeh', 'atique', 'asd', '909asd0909', '2323']

In [16]:
# extract all the words

text = "word1 word2 word3 word_4 word_7 word_90 word word"
re.findall("", text)

['word1', 'word2', 'word3', 'word_4', 'word_7', 'word_90', 'word', 'word']

In [17]:
# Extract All Hashtags:

text = "Check out #Python, #DataScience, and #MachineLearning topics on Twitter."
re.findall("", text)

['#Python', '#DataScience', '#MachineLearning']

In [18]:
# Extract Names from a String in Square Brackets

text1 = "Hello [John, Alice, Bob], welcome!"
re.findall("", text1)

['John, Alice, Bob']

In [19]:
# Extract Numbers from a String in Parentheses

text2 = "Total (12, 34, 56) items in stock."
re.findall("", text2)

['12, 34, 56']

In [20]:
# Extract Keywords from a String in Curly Braces

text3 = "Search for {Python, programming, regex} in the text."
re.findall("", text3)

['Python, programming, regex']

In [21]:
# Extract Cities from a String in Angle Brackets

text4 = "Visit our offices in <New York, Los Angeles, Chicago>."
re.findall("", text4)

['New York, Los Angeles, Chicago']

In [22]:
# Extract Items from a String in Square Brackets

text5 = "Selected items: [item1, item2, item3]."
re.findall("", text5)

['item1, item2, item3']

In [23]:
# Positive Lookahead (Matching ".com" emails)
email = "user1@example.com"

pattern1 = ""
re.findall(pattern1, email)

['user1@example.com']

In [24]:
# Exercise 2: Negative Lookahead (Matching non-.tmp file names)
file_list = [
    "document.txt",
    "image.jpg",
    "data.csv",
    "backup.tmp",
]

pattern2 = ""
[file for file in file_list if re.match(pattern2, file)]

['document.txt', 'image.jpg', 'data.csv']